@{
    /**/

    ViewBag.Title = "Home Page";
    string[] equations = { "3(1+2)", "3/3 + 2", "2+3(8+9)", "16/(2+6)", "5(2+3)/5", "5(10-8+2)", "7*-8+2", "8(9(1+1))", "10(10+10)", "15+8-8", "-8+1+1+1", "50(-70-70)", "-80-80-20-10", "3+2-8", "9(3(2+1))", "3*15+3", "-3*5+4", "-80(21+20)", "23(11/11 + 1)", "63+12(-8+2)" };
}


<div class="input-group">
    <div class="input-group-btn">
        <input class="btn btn-primary btn-sm" type="button" id="submitButton" value="Generar" />
    </div>
    <input class="form-control" id="numberEquations" type="number" name="numberEquations" min="5" max="20" required placeholder="Ecuaciones a generar.">
</div>
<br />

@for (var renderEquation = 0; renderEquation < (equations.Length); renderEquation++)
{
    <div class="input-group" id="@("equation"+renderEquation)" style="display:none">
        @equations[renderEquation] =
        <input id="@("answer"+renderEquation)" type="number" placeholder="Respuesta" />
    </div>
    <br />
}

<input class="btn btn-primary btn-sm" type="button" id="showAnswerButton" value="Ver respuestas" />
<input class="btn btn-primary btn-sm" type="button" id="checkAnswers" value="Revisar mis respuestas" />
<script>
    var answers = [ "9", "3", "53", "2", "5", "20", "-54", "144", "200", "15", "-5", "-7000", "-190", "-3", "81", "48", "-11", "-3280", "46", "-9" ];
</script>
@Scripts.Render("/js/Index.js")
